<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://res.cloudinary.com/b-jb/image/upload/v1625664971/kilometro-zero/logo1_mzsmce.png"></div>
                        <h3 class="mb-5 text-center heading">We are Kilometro Zero</h3>
                        <h6 class="msg-info">Sign Up Here</h6>

                        <form action="/signup" method="POST">
                        <div class="form-group"> <label class="form-control-label text-muted">Username</label> <input type="text" id="email" name="username" placeholder="Username" class="form-control" required> </div>
                        <div class="form-group"> <label class="form-control-label text-muted">Password</label> <input type="password" id="psw" name="password" placeholder="Password" class="form-control" required> </div>
                        <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-white btn" type="submit">Sign Up</button> </div>
                       </form>
                    
                    </div>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">More Than Just A Company</h3> 
                    <p><small class="text-white">We go through products, testing them ourselves on our skin and in our lives, to then make a selection of what we love the most and propose them to you. We want to create a community of more conscious humans who understand the importance of sustainability! So thank you for joining us.</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{{#if errorMessage}}
<p>{{errorMessage}}</p>
{{/if}}

