<div class="index">
    <div class="index-general">
        <h2>Start your sustainble journey at Kilometro-Zero</h2>
        <h6><em>A soon-to-be store that cares about giving you the best choices for the environment and your life.</em></h6>        
    </div>


    <div class="index-admin">

        {{#if loggedInUser}}
            {{#eq loggedInUser.role "Admin"}}
                <a href="/productlist">Product list</a>
                <a href="/product-create">Create a Product</a>
            {{/eq}}
        {{/if}}  

    </div>



</div>


