<div class="card bg-dark text-white index-display">
  <img class="card-img index-image" src="https://i.redd.it/4zxlgfxafzv41.jpg" alt="Card image">
  <div class="card-img-overlay">
        <h5 class="card-title index-image-title1">Start your sustainble journey at Kilometro-Zero</h5>
        <h6 class="card-title2 index-image-title2"><em>A soon-to-be store that cares about giving you the best choices for both your life and the environment.</em></h6>
  </div>
</div>

    <div class="index-admin">

        {{#if loggedInUser}}
            {{#eq loggedInUser.role "Admin"}}
                <a href="/productlist">Product list</a>
                <a href="/product-create">Create a Product</a>
            {{/eq}}
        {{/if}}  

    </div>



</div>


