<div>
<div class="card bg-dark text-white index-display">
  <img class="card-img index-image" src="https://ak.picdn.net/shutterstock/videos/24610931/thumb/1.jpg" alt="Card image">
  <div class="card-img-overlay">
        <h5 class="card-title index-image-title1">Start Your Sustainble Journey At Kilometro-Zero</h5>
        <h6 class="card-title2 index-image-title2"><em>A soon-to-be store that cares about giving you the best choices for both your life and the environment.</em></h6>
  </div>
</div>

<h1 class="article-selection-title">This Week's Article Selection</h1>

<div id="article-selection-index">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://totalheadline.com/wp-content/uploads/2020/06/healthy-nutrition.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" id="article-title">What Does Healthy Eating Mean?</h5>
    <div id="text-holder">
    <p class="card-text">All definitions of healthy eating come down to this: feeding your body the fuel and nutrients that you need to sustain life. </p>
    </div>
    
    <a href="https://www.nourishedsimply.com/what-does-healthy-eating-mean/" class="btn btn-dark bluebutton">Read More</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://goloadup.com/wp-content/uploads/2018/11/ways-shop-sustainably.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" id="article-title">How to Shop Online More Sustainably</h5>
    <div id="text-holder">
    <p class="card-text"> One van delivering 50 packages is much more efficient than 50 people driving to the store. </p>
    </div>
    
    <a href="https://www.nytimes.com/wirecutter/blog/shop-online-sustainably/" class="btn btn-dark bluebutton">Read More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.unsplash.com/photo-1506631698645-c39e6d283592?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" id="article-title">11 Eco-Friendly Destinations Around the World</h5>
    <div id="text-holder">
    <p class="card-text">Countries across the globe are stepping up their efforts to protect and preserve the natural environment and that means responsible tourism  </p>
    </div>
    
    <a href="https://theculturetrip.com/europe/articles/11-eco-friendly-destinations-you-must-visit-around-the-world/" class="btn btn-dark bluebutton">Read More</a>
  </div>
</div>



</div>



    <div class="index-admin">

        {{#if loggedInUser}}
            {{#eq loggedInUser.role "Admin"}}
                <a href="/productlist">Product list</a>
                <a href="/product-create">Create a Product</a>
            {{/eq}}
        {{/if}}  

    </div>



</div>


