
<div class="title product-views-title">
<h1>Hottest tips on sustainability</h1>
<h2><i>Ideas, inspiration and advice to immerse yourself in a greener world.</h2>
<h2>Start to buy, live & breathe a more conscoius lifestyle.</i></h2>
</div>

<div class="articles">

<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://www.onehealthclubs.com/wp-content/uploads/2018/04/HealthyEatingHabits_700x395.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Nutrition Biology</h5>
    <p class="card-text">Doctor of Nutrition Biology, shows us 6 tricks to be aware consumers and respect the environment by eating healthy.</p>
    <a href="https://makeyougreener.com/6-consigli-per-unalimentazione-sostenibile/" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://static01.nyt.com/images/2019/09/16/smarter-living/16sl_shopping/23sl_shopping-superJumbo.jpg?quality=90&auto=webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Conscoius Consumerism</h5>
    <p class="card-text">Living a better, smarter, more fufilling life. Change the way you think, live and breathe.</p>
    <a href="https://www.nytimes.com/2019/10/01/smarter-living/sustainabile-shopping-conscious-consumer.html" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://static01.nyt.com/images/2019/05/07/smarter-living/07carbonfootprint-slide-SUBX/carbonfootprint-slide-SUBX-jumbo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Easiest Ways to Reduce Your Carbon Footprint</h5>
    <p class="card-text">We all want to live in a world with cleaner air and cleaner energy. But what’s all that got to do with smart meters? Spoiler alert – there’s more to it than reducing your energy use…</p>
    <a href="https://www.smartenergygb.org/en/smart-meter-benefits/benefits-for-britain/how-smart-meters-can-help-to-reduce-your-carbon-footprint?gclid=CjwKCAjwoZWHBhBgEiwAiMN66Z-_NU8ph6IOC9anX0r9rYkarWO-_DZoUjtaarWLZf6JTK3mRvMeKBoCwP0QAvD_BwE" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://images.ctfassets.net/0fol1oltsp9p/nJFpXTFT1HGgT6ejq6b1D/fa75f6d61e2da90ecb1552fd6c5c645b/Elise_Tolbert_Next_Step_Up_Environmentalist_Interview.png?w=920" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Elise Tolbert</h5>
    <p class="card-text">environmental health scientist and founder of Next Step Up, is elevating BIPOC voices in climate activism through leadership forums and community activism work across the US.</p>
    <a href="https://www.inspirecleanenergy.com/blog/sustainable-living/elise-tolbert-female-environmental-activist-interview/" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>



</div>



<div class="articles2">

<div class="card tt-cards" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://www.livingonadime.com/wp-content/uploads/fb-how-long-does-stored-food-last.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">How To Store Food</h5>
    <p class="card-text">Everything you need to know on how to store & freeze food. Our encyclopedia on food storage. Learn how to store it best, how long it should stay there, and even what to do if it’s a little past prime.</p>
    <a href="https://savethefood.com/storage" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://traveler.marriott.com/wp-content/uploads/2019/08/Malie_CoconutVanilla.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Sustainable Stores For All Your Ethical Online Shopping</h5>
    <p class="card-text">What’s not to love?! Especially when you have some of the best eco stores right at your fingertips.. literally. </p>
    <a href="https://www.sustainablejungle.com/" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>



<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://st3.depositphotos.com/1112607/17168/i/1600/depositphotos_171683488-stock-photo-green-cosmetics-composition.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Green Cosmetics: The Push for Sustainable Beauty</h5>
    <p class="card-text">Manufacturing companies interested in venturing into the green market must know the details behind the sustainability movement, including the benefits of going green and the potential of the market.</p>
    <a href="https://www.acme-hardesty.com/green-cosmetics-sustainable-beauty/" class="btn btn-white bluebutton">Read More</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top img-tt" src="https://i.ytimg.com/vi/7PJfpprBJy0/maxresdefault.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Homemade Cleaners</h5>
    <p class="card-text">Some of the best household cleaners come from ingredients you already have in your pantry. Whip up your own homemade cleaners that are easy on your wallet and on the earth. </p>
    <a href="https://www.bhg.com/homekeeping/house-cleaning/cleaning-products-tools/homemade-cleaners/" class="btn btn-white bluebutton">Read More</a>
  </div>

</div>
</div>