<h1>Hottest tips on sustainability</h1>
<h2>Ideas, inspiration and advice to immerse yourself in a greener world, to buy, live a more conscoius lifestyle.</h2>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.onehealthclubs.com/wp-content/uploads/2018/04/HealthyEatingHabits_700x395.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Nutrition Biology</h5>
    <p class="card-text">Doctor of Nutrition Biology, shows us 6 tricks to be aware consumers and respect the environment by eating healthy.</p>
    <a href="https://makeyougreener.com/6-consigli-per-unalimentazione-sostenibile/" class="btn btn-primary">Read More</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://static01.nyt.com/images/2019/09/16/smarter-living/16sl_shopping/23sl_shopping-superJumbo.jpg?quality=90&auto=webp" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Conscoius Consumerism</h5>
    <p class="card-text">Living a better, smarter, more fufilling life. Change the way you think, live and breathe.</p>
    <a href="https://www.nytimes.com/2019/10/01/smarter-living/sustainabile-shopping-conscious-consumer.html" class="btn btn-primary">Read More</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://static01.nyt.com/images/2019/05/07/smarter-living/07carbonfootprint-slide-SUBX/carbonfootprint-slide-SUBX-jumbo.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Easiest Ways to Reduce Your Carbon Footprint</h5>
    <p class="card-text">We all want to live in a world with cleaner air and cleaner energy. But what’s all that got to do with smart meters? Spoiler alert – there’s more to it than reducing your energy use…</p>
    <a href="https://www.smartenergygb.org/en/smart-meter-benefits/benefits-for-britain/how-smart-meters-can-help-to-reduce-your-carbon-footprint?gclid=CjwKCAjwoZWHBhBgEiwAiMN66Z-_NU8ph6IOC9anX0r9rYkarWO-_DZoUjtaarWLZf6JTK3mRvMeKBoCwP0QAvD_BwE" class="btn btn-primary">Read More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.ctfassets.net/0fol1oltsp9p/nJFpXTFT1HGgT6ejq6b1D/fa75f6d61e2da90ecb1552fd6c5c645b/Elise_Tolbert_Next_Step_Up_Environmentalist_Interview.png?w=920" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Elise Tolbert</h5>
    <p class="card-text">environmental health scientist and founder of Next Step Up, is elevating BIPOC voices in climate activism through leadership forums and community activism work across the US.</p>
    <a href="https://www.inspirecleanenergy.com/blog/sustainable-living/elise-tolbert-female-environmental-activist-interview/" class="btn btn-primary">Read More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.ctfassets.net/0fol1oltsp9p/1HCidaFAGr5Ann5tMKz6wz/5ba527e2fa20c6342725ce35b94c3519/How_To_Save_More_Energy.jpg?w=1840" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">How To Save Energy In 2021</h5>
    <p class="card-text">Let’s take a look at some of the best ways you can minimize your carbon footprint and save energy in your home, at work, and everywhere in between in 2021.</p>
    <a href="https://www.inspirecleanenergy.com/blog/sustainable-living/how-to-save-energy/" class="btn btn-primary">Read More</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://traveler.marriott.com/wp-content/uploads/2019/08/Malie_CoconutVanilla.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Sustainable Stores For All Your Ethical Online Shopping</h5>
    <p class="card-text">What’s not to love?! Especially when you have some of the best eco stores right at your fingertips.. literally. </p>
    <a href="https://www.sustainablejungle.com/" class="btn btn-primary">Read More</a>
  </div>
</div>