<h1>My favourite products</h1>

{{#each favourites}}
<p> name -> {{product.name}} </p>
<form action="/favourites/{{id}}/delete" method="POST">
    <button type="submit">Delete</button>
</form>
{{/each}}