 <h5 class="card-title favourites product-views-title">My Favourite Products</h5>


<div class="fav-items-container">
    <div class="name-of-fav-product">
        {{#each favourites}}

            <img class="card-img-top" id="fav-product-img" src="{{product.imageUrl}}" alt="Card image cap">

            <p>{{product.name}}</p>
            <p>{{product.description}}</p>


            <form action="/favourites/{{id}}/delete" method="POST">
                <button type="submit" class="btn-dark bluebutton" id="fav-item-delete">Delete</button>
            </form>

            <hr> 

        {{/each}}
    </div>
</div>