
<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"> <img id="logo" src="https://res.cloudinary.com/b-jb/image/upload/v1625664971/kilometro-zero/logo1_mzsmce.png"></div>
                        <h3 class="mb-5 text-center heading">We are Kilometro Zero</h3>
                        <h6 class="msg-info">This is your personal account</h6>
                        <form action="/edit" method="POST">
                        <div class="form-group"> <label class="form-control-label text-muted">Choose Your Username</label> <input type="text" id="email" name="username" placeholder="Username" class="form-control" value="{{userDetail.username}}" required> </div>
                        <div class="form-group"> <label class="form-control-label text-muted">Adress</label> <input type="adress" id="psw" name="address" placeholder="Address" class="form-control" value="{{userDetail.address}}" required> </div>
                        <div class="form-group"> <label class="form-control-label text-muted">Email</label> <input type="email" id="psw" name="email" placeholder="Email" class="form-control" value="{{userDetail.email}}" required> </div>
                        <div class="row justify-content-center my-3 px-3"> <button class="btn-block btn-color" type="submit">Save</button> </div>
                       </form>
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p class="sm-text mx-auto mb-3">Thank you for taking part of our project</p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                   <h3 class="text-white">Personal Profile</h3> <small class="text-white">Here we will keep all your secrets safe</small> 
                </div>
            </div>
        </div>
    </div>
</div>