body {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'STIX Two Math', serif;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

a {
  color: #000102;
  text-decoration: none;
}

h1 {
  color: 15px;
}

.product-display {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar {
  border-radius: 10px;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
}

footer {
  width: 100%;
}

#bttLo {
background: rgb(84, 83, 112);
background: radial-gradient(circle, rgba(84, 83, 112, 0.7290266448376226) 63%, rgba(202, 217, 231, 1) 100%);
border: none;
}

.credits {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}


.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.index-general{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  padding: 40px;
}

.index-admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  padding: 40px;

}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  padding: 30px;
}

.articles2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  padding: 30px;
}

.bluebutton {
  background-color: #CAD4E7;
  color: #2B3863;
  border: none;
}

.bluebutton :hover {
  background-color: thistle;
}





input,
textarea {
  background-color: #F3E5F5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid  !important;
  outline-width: 0;
  font-weight: 400
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.card {
  border-radius: 0;
  border: none
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

#logo {
  width: 180px;
  height: 100px
}

.heading {
  margin-bottom: 60px !important
}

::placeholder {
  color: #000 !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: #000 !important
}

::-ms-input-placeholder {
  color: #000 !important
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px
}

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #19384C, #CAD4E7);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px
}

.btn-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

.btn-white {
  border-radius: 50px;
  color: #19384C;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid  !important
}

.btn-white:hover {
  color: #fff;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

a {
  color: #000
}

a:hover {
  color: #000
}

.bottom {
  width: 100%;
  margin-top: 50px !important
}

.sm-text {
  font-size: 15px
}

@media screen and (max-width: 992px) {
  .card1 {
      width: 100%;
      padding: 40px 30px 10px 30px
  }

  .card2 {
      width: 100%
  }

  .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px !important
  }

  .card2 {
      padding: 50px
  }

  .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  }
}

.card {
  margin-top: 100px;
}

.card-img {
  width: 1380px;
  height: 400px;
  
}

.card-title {
  margin-top: 50px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card-title2 {
  margin-top: 60px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}