/* Layout view  ------------------------------------------------------------------------------*/

body {
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'STIX Two Math', serif;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

a {
  color: #000102;
  text-decoration: none;
}

h1 {
  color: 15px;
}

.navbar {
  border-radius: 10px;
}

.navbar-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: flex-end;
}

footer {
  margin-top: 60px;
  width: 100%;
}

#ifLogged {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#bttLo {
  background-color: transparent;
  border: none;
}

.credits {
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  height: 40px;
}

/* Layout view  ------------------------------------------------------------------------------*/

/* Index view  ------------------------------------------------------------------------------*/
.index-image {
  width: 1398px;
  height: 400px;
}

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.index-general{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  padding: 40px;
}

.index-admin{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  padding: 40px;

}

.index-display {
  margin-top: 50px;
}

.index-image-title1 {
  margin-top: 125px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.index-image-title2 {
  margin-top: 100px;
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.article-selection-title {
  margin-top: 50px;
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

#article-selection-index {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


/* Index view end ------------------------------------------------------------------------------*/

/* Admin CRUD  ------------------------------------------------------------------------------*/

.admin-product-list {
   display: flex;
   flex-wrap: wrap;
   align-content: center;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   margin: 10px 20px 10px 20px;
}

.product-views-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

.product-display {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 20px 10px 20px;
}

.img-all-prod-views {
  height: 300px;
  width: auto;
  object-fit: fill !important;
}

.body-all-prod-views {
  margin: 40px 20px 20px 20px;
}

.prod-view-cards {
  margin: 20px 20px 20px 20px;
  height: 500px;
}

.details-text {
  color: ivory;
}

.details-text a {
  color:lightgray;
}

.admin-control {
  margin-top: 20px;
}

.admin-create {
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Admin CRUD end  ------------------------------------------------------------------------------*/

/* Profile view begin ---------------------------------------------------------------------------*/

.profile{
  padding-top: 30px;
}

/* Profile view end ---------------------------------------------------------------------------*/

/* TipsTricks + products view begin ---------------------------------------------------------------------------*/

.img-tt {
  height: 200px;
  object-fit: cover;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  padding: 30px;
}

.articles2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content:space-around;
  padding: 30px;
}

.bluebutton {
  background-color: #CAD4E7;
  color: #2B3863;
  border: none;
}

.bluebutton :hover {
  background-color: thistle;
}

.product-views-title {
 color: #CAD4E7;
}

/* TipsTricks + products view end ---------------------------------------------------------------------------*/

/* Log/Sign view begin ---------------------------------------------------------------------------*/

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0
}

.card {
  border: none;
}

.card1 {
  width: 50%;
  padding: 40px 30px 10px 30px
}

.card2 {
  width: 50%;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

#logo {
  width: 180px;
  height: 100px
}

.heading {
  margin-bottom: 60px !important
}

::placeholder {
  color: #000 !important;
  opacity: 1
}

:-ms-input-placeholder {
  color: #000 !important
}

::-ms-input-placeholder {
  color: #000 !important
}

.form-control-label {
  font-size: 12px;
  margin-left: 15px
}

.msg-info {
  padding-left: 15px;
  margin-bottom: 30px
}

.btn-color {
  border-radius: 50px;
  color: #fff;
  background-image: linear-gradient(to right, #19384C, #CAD4E7);
  padding: 15px;
  cursor: pointer;
  border: none !important;
  margin-top: 40px
}

.btn-color:hover {
  color: #fff;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

.btn-white {
  border-radius: 50px;
  color: #19384C;
  background-color: #fff;
  padding: 8px 40px;
  cursor: pointer;
  border: 2px solid  !important
}

.btn-white:hover {
  color: #fff;
  background-image: linear-gradient(to right, #19384C, #CAD4E7)
}

a {
  color: #000
}

a:hover {
  color: #000
}

.bottom {
  width: 100%;
  margin-top: 50px !important
}

.sm-text {
  font-size: 15px
}

/* Log/Sign view end  ---------------------------------------------------------------------------*/


/* Idk whats all this is -------------------------------------------------------------------------*/

@media screen and (max-width: 992px) {
  .card1 {
      width: 100%;
      padding: 40px 30px 10px 30px
  }

  .card2 {
      width: 100%
  }

  .right {
      margin-top: 100px !important;
      margin-bottom: 100px !important
  }
}

@media screen and (max-width: 768px) {
  .container {
      padding: 10px !important
  }

  .card2 {
      padding: 50px
  }

  .right {
      margin-top: 50px !important;
      margin-bottom: 50px !important
  }
}

input,
textarea {
  background-color: #F3E5F5;
  border-radius: 50px !important;
  padding: 12px 15px 12px 15px !important;
  width: 100%;
  box-sizing: border-box;
  border: none !important;
  border: 1px solid #F3E5F5 !important;
  font-size: 16px !important;
  color: #000 !important;
  font-weight: 400
}

input:focus,
textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid !important;
  outline-width: 0;
  font-weight: 400
}

/*favourites view */

.favourites {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  text-decoration: underline;
  font-size: 30px;

}

.name-of-fav-product {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.fav-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#fav-item-delete {
  margin-bottom: 30px;
}

#fav-product-img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

#fav-background-image {
  width: 900px;
  height: 190px
}

#sdhjazdsbadh {
  margin-top: 30px;
  margin-left: 200px;
  width: 900px;
  height: 190px
  
}

/* favorites page ends */







/* CSS END - CSS END -  CSS END - CSS END - CSS END - CSS END - CSS END - CSS END - CSS END - CSS END - CSS END - CSS END - CSS END */

