<h1> Eco Home</h1>

{{#each ecoHome}}

<div>
    
    <h2><a href="/products/{{_id}}">{{name}}</a></h2>
    <img src="{{imageUrl}}" alt="ecohome" width="200px" height="200px">
    <form action="/favourites/{{_id}}" method="post">
    <button type="submit" value="" name="add_fav">Add To Favorites</button>
     </form>
 
</div>

{{/each}}