<h1>Self Care</h1>

{{#each scProducts}}

<div>

    <h2> <a href="/products/{{_id}}">{{name}}</a></h2>
    <img src="{{imageUrl}}" alt="selfcare" width="200px" height="200px">
    <form action="/favourites/{{_id}}" method="post">
        <button type="submit" value="{dbResult.id}" name="add_fav">Add To Favorites</button>
    </form>
 
</div>


{{/each}}
